version: 2.1

orbs:
  prodsec: snyk/prodsec-orb@1
  
jobs:
  security-scans:
    resource_class: small
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - prodsec/security_scans:
          mode: auto

workflows:
  cicd:
    jobs:
      - prodsec/secrets-scan:
          name: scan repository for secrets
          context:
            - snyk-bot-slack
          channel: cli-alerts

      - security-scans:
          context: devex_cli
